*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: black;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
}

.btn-header{
    display: inline-block;
    background-color: #4a4a4a;
    padding: 10px 10px;
    color: white;
    margin: 10px 10px 0 0;
    border-radius: 10px;
}


/* MAIN */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
    padding: 10px 10px;
    height: calc(100vh - 170px);
    background-color:black;
}

main .user{
    flex-shrink: 0;
    position: relative;
    border: 2px solid black;
    width: calc(100% / 6);
}

main img{
    width: 100%;
}

main .user > div{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color:#222222;
    color: white;
}


/* left, center, right */
footer > div{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px 15px;
}


/* item */
.item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    padding: 4px 15px;
}

.item a:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.item .freccia{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;
}

.icone{
    font-size: 30px;
}

.item span{
    display: block;
    font-size: 14px;
}

.fa-share-square{
    color: #4bc800;
}

.right{
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
}

.right a{
    color: red;
}